<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
<head>
  <meta charset="UTF-8">
  <title>Панель админа</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
  <div sec:authorize="hasAuthority('ADMIN')">
    <h1>Все пользователи</h1><br>
    <div class="block" th:each="el : ${users}">
        <h3>Пользователь: <span th:text="${el.username}"/></h3>
        Email: <span th:text="${el.email} + '.'"/> Роль на сайте: <span th:each="role : ${el.roles}"  th:text="${role}"/>
<!--        чтобы роли не выводились в [] делаем еще один цикл-->
        <br><button id="show_btn" type="submit"><a id="item_link" th:href="'/admin/user-' + ${el.id}">Товары автора</a></button>
    </div>
  </div>

  <div sec:authorize="!hasAuthority('ADMIN')">
      <div class="block">
        <h1>Доступ запрещен</h1>
        <p>Эта страница доступна только администраторм</p>
      </div>
  </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>
